.tamaño1 {
    font-size: 50px;
}
.tamaño2 {
    font-size: 30px;
}
.tamaño3 {
    font-size: 20px;
}
.tamaño {
    font-size: 30px;
}

.botones {
    margin-top: 30px;
}

header {
    background-image: url(../imagenes/logo.avif);
    background-repeat: no-repeat;
    background-position: center;
}

.espacio {
    margin-left: 300px;
}