{% extends 'swissMedical/navbar.html' %}



{% block content %}

<body id="page-top">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'SwissMedical/css/index.css' %} ">

    <!-- Header-->
    <header class="">
        <div class="container px-4 text-center">
            <h1 class="tamaño1"> <b>Hospital virtual</b></h1>
            <p class="tamaño2"><b>Sistema de gestión de pacientes</b></p>
            <p class="tamaño3"><b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quia aspernatur omnis quidem dicta provident
                earum alias magnam autem? Doloribus molestiae accusantium error nobis enim porro repellendus qui
                voluptatem assumenda!</b></p>

        </div>
    </header>

    <div class="container ">
        <div class="row ">
            <div class="col-lg-12 ">

                <a href="{% url 'crearMedicos' %}"><button type="button" class="btn btn-primary btn-lg mt-5"> Crear
                        Medicos </button></a>
                <a href="{% url 'crearPacientes' %}"><button type="button" class="btn btn-primary btn-lg mt-5"> Crear
                        Pacientes</button></a>
                <a href="{% url 'crearCitas' %}"><button type="button" class="btn btn-primary btn-lg mt-5"> Hacer
                        Citas</button></a>
                <a href="{% url 'crearRecetas' %}"><button type="button" class="btn btn-primary btn-lg mt-5"> Crear
                        Recetas</button></a>

            </div>
        </div>
    </div>

    <section class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-6">


                    <h1>LISTA DE MEDICOS</h1>
                    <br>
                    <br>
                    {% for medico in medicos %}
                    <li class="tamaño">{{ medico.nombre }} {{ medico.apellido }}</li>
                    {% endfor %}


                </div>
                <div class="col-6">

                    <h1>LISTA DE PACIENTES</h1>
                    <br>
                    <br>
                    {% for paciente in pacientes %}
                    <li class="tamaño">{{ paciente.nombre }} {{ paciente.apellido }}</li>
                    {% endfor %}


                </div>



            </div>
        </div>
    </section>


</body>
{% endblock content %}